{% extends "index.html" %}

{% block content %}
<div class="span12">
 <div class="row">
   <script type="text/javascript" src="/static/field.js"></script>
   <script type="text/javascript" src="/static/battle.js"></script>
   <div class="span11">
     <br />
     <div id="info">
       <div id="status_go">Ожидайте соперника!</div>            
     </div>
     <br />
     <br />
   </div>
   <div class="span5">
     <div id="user"></div>
     <br />
     <div class="yourfield">
     </div>
   </div>
   <div class="span1"></div>
   <div class="span5">
     <div id="opponent"></div>
     <br />
     <div class="opponentfield">
     </div>
   </div>
   <div class="span12">
     <br />
     <div class="number_watcher"></div>
     <br />
     <form method="POST" id="battons" action="">
       <input class="btn-primary btn-large" id="all_cancel" type="button" name="i_lose" value="Не хочу играть!" onclick="allCancel()" />
     </form>
   </div>
   </div>
 </div>
</div>
{% endblock %}
