{% extends "index.html" %}

{% block content %}
<div class="span12">
 <div class="row">
   <script type="text/javascript" src="/static/field.js"></script>
   <script type="text/javascript" src="/static/configure.js"></script>
   <div class="span6">
     <div class="yourfield">
     </div>
   </div>
   <div class="span5">
     <div><h3>Ваш флот: учет войск</h3></div>
     <div class="numcell">Количество юнитов: </div>
     <div class="1"></div>
     <div class="2"></div>
     <div class="3"></div>
     <div class="4"></div>
     <br />
     <div class="battons">
       <form method="POST" id="battons" action="">
	 <input class="btn-primary btn-large" id="ready" type="button" name="i_win" value="Готов к сражению!" onclick="allReady()"/>
	 <input class="btn-primary btn-large" id="all_cancel" type="button" name="i_lose" value="Я передумал" onclick="allCancel()" />
     </form>
     </div>
   </div>
 </div>
</div>
{% endblock %}
