{% extends "index.html" %}

{% block content %}
<div class="span12">
  <div class="row">
    <div class="span12">
      <div class="description">
	<div class="span11">
	  <div class="row">
	    <div class="alert alert-success">
	      <h3>Добро пожаловать на сайт, посвященный игре Морской Бой!</h3>
	  Данный сайт был создан и разработан <a href="http://le087.ru/">мной</a> при реализации практической части курсовой работы, заданием которой было создание небольшого онлайн сервиса по игре в старую и всем известную игру. Данный сервис не преследует никакой коммерческой или другой какой-то определенной цели, он создан просто в качестве демонстрационной работы.<br /><br />
	  Для того, что бы начать играть, Вам необходимо создать свой "Сервер", либо присоединиться к списку уже созданных "серверов". Поскольку проект крошечный, кривой и местами глючный, Вам скорее всего придеться кого-то силой уговаривать поиграть с Вами. Желаю всем приятной игры. <br />
	    </div>
	  </div>
	</div>
      </div>
      <br /><br />
      <div class="span9">
      <div id="add_new_user">
	<script type="text/javascript" src="/static/naval_battle.js"></script>
	<form class="form-seach">
          <div class="input-append">
            <input type="text" class="span3" name="username" onkeypress="usl(event)">
            <button type="button" class="btn" onclick="AddNewUser(); return false">Создать сервер!</button>
          </div>
	</form>
      </div>
      </div>
    <div class="span3">
	<div id="list_players"></div>       	
    </div>
    <div class="span1"></div>
    <div class="span5">
      <div id="list_games"></div>       
    </div>
  </div>
</div>
{% endblock %}
