{% extends "index.html" %}

{% block content %}
<div class="span12">
 <div class="row">
   <script type="text/javascript" src="/static/field.js"></script>
   <script type="text/javascript" src="/static/movegame.js"></script>
   <div class="span5">
     <div id="user"></div>
     <br />
     <div class="yourfield">
     </div>
   </div>
   <div class="span1"></div>
   <div class="span5">
     <div id="opponent"></div>
     <br />
     <div class="opponentfield">
     </div>
   </div>
   <div class="id_game" id="{{ id_game }}"></div>
  </div>
</div>
{% endblock %}
