{% extends "index.html" %}

{% block content %}
<div class="span12">
 <div class="row">
   <script type="text/javascript" src="/static/field.js"></script>
   <script type="text/javascript" src="/static/movegame.js"></script>
   <div class="span11">
     <br />
     <div id="info">
       <div id="status_go">Получение информации...</div>            
     </div>
     <br />
     <br />
   </div>
   <div class="span5">
     <div id="user"></div>
     <br />
     <div class="yourfield">
     </div>
   </div>
   <div class="span1"></div>
   <div class="span5">
     <div id="opponent"></div>
     <br />
     <div class="opponentfield">
     </div>
   </div>
   <div class="span5">
     <br />
     <div id="info">
       <div id="status_go"><h3>Статистика:</h3></div>   
       <div id="begin_game"></div>
       <div id="duration_game"></div>
     </div>
   </div>
   <div class="span1"></div>
   <div class="span5">
     <br />
     <div id="list_moves"><h3>Список выстрелов:</h3>
       <div style="overflow-y: scroll; height: 200px;">
	 <table class="table" id="list_shoot">
	 </table>
       </div> 
     </div>
   </div>
   <div class="id_game" id="{{ id_game }}"></div>
  </div>
</div>
{% endblock %}
